.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.loading-spinner {
  width: 4rem;
  height: 4rem;
  color: var(--primary-color);
  border-width: 0.25em;
}